.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    background: black;
}

.wrapper {
    width: 340px;
    margin: 320px auto;
}

.key {
    width: 40px;
    float: left;
    margin: 10px;
    position: relative;
}

.blackRectangle {
    width: 35px;
    height: 125px;
    background: black;
    border-radius: 5px;
    position: absolute;
    left: 47px;
}

.rectangle {
    width: 50px;
    height: 200px;
    background: white;
    border-radius: 5px;
    margin: 10px;
}

.rectangle:hover {
    background: #d2d1d2;
}

.one {
    z-index: 20;
}

.two {
    z-index: 10;
}

.three {
    z-index: 5;
}

#hover-content4 {
    display:none;
    color:black;
    padding-left: 8px;
    margin-top:160px;
}
#parent4:hover #hover-content4 {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;

}

#hover-content1 {
    display:none;
    color:black;
    padding-left: 8px;
    margin-top:160px;
}
#parent1:hover #hover-content1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;

}